{
    "trailingComma": "none",
    "tabWidth": 2,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "singleQuote": false,
    "printWidth": 80,
    "arrowParens": "always"
  }